In [6]:
i = [9,8,7,6,5,4,3,2,1]
j = list()

In [19]:
print("1: ", i)
print("2: ", i[0])
print("3: ", i[1])
print("4: ", i[1:4])
print("5: ", i[4::])
print("6: ", i[:3])
print("7: ", i[-1])
print("8: ", i[-4::])

1:  [9, 8, 7, 6, 5, 4, 3, 2, 1]
2:  9
3:  8
4:  [8, 7, 6]
5:  [5, 4, 3, 2, 1]
6:  [9, 8, 7]
7:  1
8:  [4, 3, 2, 1]

In [33]:
schueler = ["Anna","Bob","Cholie","Dennis","Elke","Felix","Gustav","Hanna","Inge"]

In [34]:
schueler.append("Johannes")
print(schueler)

['Anna', 'Bob', 'Cholie', 'Dennis', 'Elke', 'Felix', 'Gustav', 'Hanna', 'Inge', 'Johannes']

In [35]:
schueler[2] = "Calle"
print(schueler)

['Anna', 'Bob', 'Calle', 'Dennis', 'Elke', 'Felix', 'Gustav', 'Hanna', 'Inge', 'Johannes']

In [36]:
schueler.insert(3, "Charlie")
print(schueler)

['Anna', 'Bob', 'Calle', 'Charlie', 'Dennis', 'Elke', 'Felix', 'Gustav', 'Hanna', 'Inge', 'Johannes']

In [38]:
schueler_2 = ["Karl", "Leonie", "Mark"]
schueler.extend(schueler_2)
print(schueler)

['Anna', 'Bob', 'Calle', 'Charlie', 'Dennis', 'Elke', 'Felix', 'Gustav', 'Hanna', 'Inge', 'Johannes', 'Karl', 'Leonie', 'Mark']

In [45]:
schueler.remove("Charlie")
print(schueler)

['Anna', 'Bob', 'Calle', 'Dennis', 'Elke', 'Felix', 'Gustav', 'Hanna', 'Inge', 'Johannes', 'Karl', 'Leonie', 'Mark']

In [46]:
schueler.pop(0)
print(schueler)

['Bob', 'Calle', 'Dennis', 'Elke', 'Felix', 'Gustav', 'Hanna', 'Inge', 'Johannes', 'Karl', 'Leonie', 'Mark']

In [47]:
schueler.clear()

In [52]:
mixed_schueler = ['Johannes', 'Karl', 'Bob',  'Gustav', 'Hanna', 'Inge', 'Johannes', 'Karl', 'Leonie', 'Dennis', 'Elke', 'Felix','Calle', 'Mark']
print(mixed_schueler)

['Johannes', 'Karl', 'Bob', 'Gustav', 'Hanna', 'Inge', 'Johannes', 'Karl', 'Leonie', 'Dennis', 'Elke', 'Felix', 'Calle', 'Mark']

In [53]:
mixed_schueler.reverse()
print(mixed_schueler)

['Mark', 'Calle', 'Felix', 'Elke', 'Dennis', 'Leonie', 'Karl', 'Johannes', 'Inge', 'Hanna', 'Gustav', 'Bob', 'Karl', 'Johannes']

In [ ]:
mixed_schueler.sort()
print(mixed_schueler)

['Bob', 'Calle', 'Dennis', 'Elke', 'Felix', 'Gustav', 'Hanna', 'Inge', 'Johannes', 'Johannes', 'Karl', 'Karl', 'Leonie', 'Mark']

In [54]:
mixed_schueler.sort(reverse = True)
print(mixed_schueler)

['Mark', 'Leonie', 'Karl', 'Karl', 'Johannes', 'Johannes', 'Inge', 'Hanna', 'Gustav', 'Felix', 'Elke', 'Dennis', 'Calle', 'Bob']

In [55]:
buchstaben = list("Oberdonaudampfschifffahrtskapitänsmützenproduzent")
print(buchstaben)

['O', 'b', 'e', 'r', 'd', 'o', 'n', 'a', 'u', 'd', 'a', 'm', 'p', 'f', 's', 'c', 'h', 'i', 'f', 'f', 'f', 'a', 'h', 'r', 't', 's', 'k', 'a', 'p', 'i', 't', 'ä', 'n', 's', 'm', 'ü', 't', 'z', 'e', 'n', 'p', 'r', 'o', 'd', 'u', 'z', 'e', 'n', 't']

In [56]:
l1 = list(range(10))
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
for buchstabe in buchstaben:
    print(buchstabe)

O
b
e
r
d
o
n
a
u
d
a
m
p
f
s
c
h
i
f
f
f
a
h
r
t
s
k
a
p
i
t
ä
n
s
m
ü
t
z
e
n
p
r
o
d
u
z
e
n
t

In [60]:
for student in mixed_schueler:
    print(student, "hat seine Hausaufgaben nicht gemacht!")

Mark hat seine Hausaufgaben nicht gemacht!
Leonie hat seine Hausaufgaben nicht gemacht!
Karl hat seine Hausaufgaben nicht gemacht!
Karl hat seine Hausaufgaben nicht gemacht!
Johannes hat seine Hausaufgaben nicht gemacht!
Johannes hat seine Hausaufgaben nicht gemacht!
Inge hat seine Hausaufgaben nicht gemacht!
Hanna hat seine Hausaufgaben nicht gemacht!
Gustav hat seine Hausaufgaben nicht gemacht!
Felix hat seine Hausaufgaben nicht gemacht!
Elke hat seine Hausaufgaben nicht gemacht!
Dennis hat seine Hausaufgaben nicht gemacht!
Calle hat seine Hausaufgaben nicht gemacht!
Bob hat seine Hausaufgaben nicht gemacht!

In [ ]:
i_ = [9,8,7,6,5,4,3,2,1]
j = []
for i in i_:
    j.append(i**2)
print(j)

[81, 64, 49, 36, 25, 16, 9, 4, 1]

In [63]:
j = [i**2 for i in i_ if i > 3]
print(j)

[81, 64, 49, 36, 25, 16]

In [41]:
print(20%5)
print(20%6)
print(20%7)

0
2
6

In [44]:
liste = []
print("Zahlen bitte")
while True:
    eingabe = input()
    if eingabe ==  "ok":
        break
    else:
        zahl = int(eingabe)
        liste.append(zahl)
print(liste)

Zahlen bitte

ValueError: invalid literal for int() with base 10: '4.5'

#### Überschrift 1
### Überschrift 2
## Überschrift 3
# Überschrift 4
Text text text $\Sigma \sigma \alpha \beta \Gamma \gamma$